html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

h2 {
  font-size: 1.8rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input[type="radio"] {
  transform: scale(1.2);
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  min-width: 270px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  overflow: scroll;
  background: linear-gradient(0deg, lightsteelblue 0%, aliceblue 100%);
  display: flex;
  flex-direction: column;
}

/* specifics */

.blue-glow-button {
  background-color: mediumblue;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-style: none;
  border-radius: 999px;
  box-shadow: 0px 0px 20px mediumblue;
}

fieldset {
  border-style: none;
}

/* navlist begins */

nav {
  margin: 16px;
  z-index: 2;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-list-item {
  margin: 8px;
  padding: 4px;
}

nav ul li a {
  text-decoration: none;
  color: mediumblue;
  font-size: 1.3rem;
}

.nav-logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-header {
  color: mediumblue;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 16px;
}

#nav-item-hamburger {
  padding: 0px;
  margin: 0px;
}

.overlay-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}

.overlay-menu {
  margin-top: 90px;
  list-style: none;
}

.overlay-menu-item {
  padding: 8px;
  margin: 8px;
}

.overlay-menu-item a {
  color: mediumblue;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

/* nav section ends */

/* content section starts */
.content {
  z-index: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  flex: 1;
}

/* home */

#home {
  text-align: center;
}

.home-header {
  font-size: 3rem;
  margin: 32px;
  color: mediumblue;
  overflow-wrap: break-word;
}

.home-paragraph {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 16px;
}

#go-to-practice {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 32px;
}

/* setup utils */

.setup-radio-form-option {
  font-size: 1.2rem;
  margin: 6px;
  padding: 6px;
}

.radio-button-label {
  font-weight: 600;
  margin-left: 4px;
}

/* setup */

#excercise-setup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.excercise-setup-header {
  text-align: center;
  color: mediumblue;
  font-size: 1.8rem;
  margin-top: 0px;
  margin-bottom: 16px;
}

.setup-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.setup-div {
  width: 100%;
  text-align: center;
  max-width: 850px;
  min-width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-setup-field-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 32px;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.setup-all-some {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.setup-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  margin: 8px;
  padding: 16px;
  height: 325px;
  width: 275px;
}

.setup-card.setup-card-error {
  box-shadow: 0px 0px 20px red;
}

.setup-card-title {
  font-size: 1.2rem;
  color: mediumblue;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 6px;
  margin-left: 8px;
  margin-right: 8px;
}

.setup-card-search-box {
  border-radius: 999px;
  border-color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 1rem;
  margin-bottom: 8px;
  margin-top: 6px;
  width: 80%;
}

.setup-card-error-title {
  font-size: 0.9rem;
  color: red;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 8px;
  margin-right: 8px;
}

.setup-card-delete-selected {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  width: 100%;
  color: mediumblue;
  font-size: 0.9rem;
  background-color: white;
  border-style: none;
}

.setup-card-items-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-y: scroll;
  max-height: 210px;
  padding: 8px;
}

.setup-card-items-list.setup-card-items-list-error {
  max-height: 178px;
}

.setup-card-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.setup-card-item {
  margin: 8px;
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
  overflow-wrap: break-word;
}

.fa-solid.fa-arrow-down {
  position: absolute;
  top: 85%; /* adjust as needed */
  left: 50%; /* adjust as needed */
  z-index: 1;
}

#excercise-start-button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 12px;
}

/* excercise */
#excercise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#excercise-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.excercise-loading-header {
  color: mediumblue;
  text-align: center;
  font-size: 2rem;
}

#no-compounds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-compounds-header {
  color: mediumblue;
  text-align: center;
  font-size: 2rem;
}

.no-compounds-text {
  text-align: center;
  overflow-wrap: break-word;
  font-size: 1.2rem;
}

#no-compounds-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 12px;
}

#excercise-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.excercise-error-header {
  color: mediumblue;
  text-align: center;
  font-size: 2rem;
}

.excercise-error-text {
  text-align: center;
  overflow-wrap: break-word;
  font-size: 1.2rem;
}

.trying-to-reconnect {
  color: mediumblue;
  text-align: center;
  font-size: 1.5rem;
}

.task-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 16px;
}

.task {
  font-size: 2.5rem;
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: 8px;
  margin-right: 8px;
}

.excercise-entry {
  font-size: 2rem;
  border-radius: 999px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin: 30px;
  width: 85%;
  max-width: 700px;
  min-width: 200px;
}

.excercise-entry:focus {
  outline: solid 2px lightskyblue;
}

.excercise-entry:disabled {
  background-color: white;
  border-color: black;
  color: black;
}

#excercise-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#excercise-next {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 12px;
}

.grey-button {
  border-style: none;
  border-radius: 999px;
  background-color: lightgrey;
  color: black;
  font-size: 1em;
  font-weight: 600;
}

#excercise-skip {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 12px;
}

.links i {
  font-size: 2em;
  color: black;
  margin: 12px;
}

/* about style */
#about {
  margin-top: 0px;
}
.about-card {
  display: flex;
  flex-direction: column;
}

.about-header {
  color: mediumblue;
}

.about-paragraph {
  font-size: 1.3rem;
}

.other-contributors-item-header {
  font-size: 1.2rem;
  font-weight: 600;
  color: mediumblue;
}

.other-contributors-item-text {
  font-size: 1.2rem;
}

.other-contributors-item-link {
  font-size: 1.3rem;
  display: inline;
  margin-left: 4px;
  color: black;
}

/* not found style */

#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-header {
  color: mediumblue;
  font-size: 2rem;
}

.not-found-text {
  font-size: 1.5rem;
}

/* footer style */

footer {
  text-align: center;
  padding: 8px;
}

.footer-title {
  margin: 8px;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 830px) {
  #excercise-setup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .setup-type {
    margin: 0px;
  }

  .setup-div {
    flex-direction: column;
  }

  .main-setup-field-set {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #excercise-start-button {
    margin: 4px;
  }
}

@media (max-width: 650px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-list {
    justify-content: space-between;
  }
  .nav-list-item:not(#nav-item-logo, #nav-item-hamburger) {
    display: none;
  }

  .home-header {
    font-size: 2.5rem;
    margin: 16px;
  }

  .home-paragraph {
    font-size: 1.4rem;
    margin: 8px;
  }

  .blue-glow-button {
    font-size: 1em;
  }

  #go-to-practice {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 16px;
  }

  .task-label {
    font-size: 1rem;
    margin: 8px;
  }

  .task {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

  .excercise-entry {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }

  .excercise-entry {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  #excercise-setup-form {
    padding-left: 8px;
    padding-right: 8px;
  }
  .setup-card {
    width: 90%;
  }

  #no-compounds-button {
    margin: 8px;
  }
}

@media (min-width: 650px) {
  #nav-item-hamburger {
    display: none;
  }
}
